$days30: rgb(168, 216, 235);
$days100: rgb(216, 236, 245);
$previous-value: rgb(90, 90, 90);
$pingColor: rgb(240, 32, 32);
$panelBorderColor: rgb(184, 184, 184);
$emptyContainer: rgb(228, 228, 228);
$footerHeight: 32px;
$headerHeight: 32px;
$PvPrimaryColor: rgb(58, 132, 170); // #3a84aa
$attentionHigh: rgb(243, 71, 49);

// HTML STYLING /////////////////////////////////////////////////////////////////

html,
body {
    background-color: rgba($color: #999999, $alpha: .1);
    padding: 0;
    height: 100%;
    font-size: 0.85em;
}

button {
    border: 1px #888888 solid;
    border-radius: 4px;
    padding: 3px;

    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);

    &.days30 {
        background-color: $days30;
    }
    &.days100 {
        background-color: $days100;
    }
}

fieldset {
    border: none;

    details {
        margin-top: 8px;

        div {
            margin-top: 8px;
        }

        summary:after {
            content: " >"
        }
    }

    input[name="address"] {
        background-color: #EEBBEE;
        border-radius: 0;
        border: 0;
        padding: 4px;
        width: 200px;
    }


    textarea {
        outline: none;
        overflow: auto;
        resize: none;
        width: 100%;
    }

    .form__navigation {
        margin-top: 8px;
    }
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #999999; /* old IE */
    background-color: #999999; /* Modern Browsers */
    color: #999999;
}

span {
    &.label {
        color: #666666;
        margin-right: 0.4em;
    }
    &.label::after {
        content: ":"
    }

    + span.label {
        margin-left: 0.2em;
    }
    + span.label::before {
        content: " | "
    }
}
svg.icon {
    width: 24px;
    height: 24px;

    &:hover {
        &.primary_color {
            fill: #222222;
            cursor: pointer;
        }    
    }
    &.primary_color {
        fill: #CCCCCC;
    }
    &.icon--clean {
        height: 16px;
        margin-bottom: -4px;
        width: 16px;
        fill: #999999;
    }
}

table {
    thead {
        font-size:85%;
        font-weight: 100;
        text-align: left;

    }
    th {
        border-bottom: 1px solid #dddddd;
        padding-right:4px;
    }
    td {
        padding-right:4px;
        vertical-align: top;
    }
}

/////////////////////////////////////////////////////////////////////////////////
// CSS STYLE CLASSES ////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

// Data related ATTENTION value
.attention_high {
    background-color: $attentionHigh;
    color: #FFFFFF;
}
.attention_low {
    background-color: rgb(89, 185, 69);
    color: #FFFFFF;
}
.attention_medium {
    background-color: rgb(55, 175, 255);
    color: #FFFFFF;
}

// Buttons
.btn--contacts,
.btn--explode,
.btn--implode {
    background-color: #FFFFFF;
    border: none;
    color: #999999;
    font-size: 90%;
    padding-top: 10px;
}
.btn--explode:hover,
.btn--implode:hover {
    color: #222222;
    cursor: pointer;
}
.btn--preset,
.btn--panelstate {
    border: none;
    &:hover {
        color: #222222;
    }
}

.uri {
    border: solid #CCCCCC 1px;
    padding: 4px 16px;
    width: 530px;

    .field__uri {
        border: none;
    }
}

td.barChart {
    position: relative;

    .horbar {
        box-sizing: border-box;
        background-color: #666666;
        height:8px;
        position: absolute;
    }
}

// Also related to `has_no_quick_panel_access`, for panels with FORMS and BUTTONS (MOUSE INTERACTION).
.has_quick_panel_access {
    .summary, .expanded, .enlarged {
        cursor: pointer;
    }
}

.menu__container {
    background-color: rgb(240, 240, 149);
    height: 116px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;

    ul {
        display: block;
        height: auto;
        margin: 3px;
        padding-left: 0;
        width: auto;
            
        li {
            cursor: pointer;
            display: block;
            list-style-type: none;
            line-height: 1.6em;
            padding-right: 3px;
            text-align: right;

            &:hover {
                background-color: rgba(0,0,0,0.15);
            }
        }
    }
}
.menu__item--active::after {
    content: " <";
}

.notes {
    padding-left: 0;

    li {
        display: block;
        list-style-type: none;

        &.note--recieved,
        &.note--sent {
            position: relative;
            border-radius: 3px;
            padding: 8px;
            margin-bottom: 16px;

            .author {
                color: #666666;
                font-style: italic;
            }
            .dateCreated {
                bottom: 4px;
                right: 8px;
                color: #666666;
                display: block;
                font-size: 80%;
                position: absolute;
                text-align: right;
            }

            p {
                margin: 4px 0;
            }
        }

        &.note--recieved {
            background-color: rgb(248, 248, 248);
            margin-left: 24px;
            margin-right: 96px;

            .author {
                color: #666666;
                font-size: 90%;
            }
        }
        &.note--sent {
            background-color: rgb(194, 229, 194);
            margin-left: 96px;
            margin-right: 24px;
        }
    }
    li:hover {
        &.note--sent {
            background-color: rgb(174, 207, 153);
        }
        &.note--recieved {
            background-color: rgb(248, 240, 212);
        }
    }
}
.note--panelRelation {
    background-color: yellow;
}

.overlay {
    background-color: rgba( 165, 208, 223, 0.55);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 345;

    .overlay__form {
        background-color: #FFFFFF;
        border: thin solid $panelBorderColor;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8em;
        padding: 1em;
        width: 800px;
    }

    input {
        font-size: 1.2em;
        padding: 0.4em;
    }
}

// Hide menu SVG icon, for the "Add Panel" - panel.
// Which is always displayed.
#system-addPanel.panel {
    .panel__container {
        .panel__header {
            .header__options {
                display: none;
                // visibility: hidden;
            }
            .header__title {
                right: 0; // Icon 'dropdown-menu1 is disabled.
            }
        }
    }
}

.panel {
    // background-color: rgba($color: #0000BB, $alpha: 0.05);
    box-sizing: border-box;
    padding: 10px;
    position: absolute;

    &.panel--has-focus {
        // background-color: orangered !important;
        .panel__container {
            -webkit-box-shadow: 0px 0px 4px 4px rgba(180,180,180,1);
            -moz-box-shadow: 0px 0px 4px 4px rgba(180,180,180,1);
            box-shadow: 0px 0px 4px 4px rgba(180,180,180,1);
        }
    }

    .panel__container {
        background-color: #FFFFFF;
        border: solid 1px $panelBorderColor;
        border-radius: 3px;
        box-sizing: border-box;
        height: 100%;
        position: relative;
        width: 100%;


        // Is an EVENT indicator for quick flipping panel states
        // BEcause we have panels with interaction in them (FROMS: "Note", "Add panel")
        // .panel_quick_access {}

        .panel__header {
            // See also panels.ts `_rowHeight:64`
            box-sizing: border-box;
            height: $headerHeight; // _rowHeight84 - headertop5 - headerbottom5 - panelmargintop10 - panelmarginbottom10 - border2
            left: 5px;
            position: absolute;
            right: 5px;
            top: 5px;

            .header__semaphore {
                // background-color: $emptyContainer;
                height: $headerHeight;
                width: $headerHeight;
                left: 0;
                overflow: hidden;
                position: absolute;
                top: 0;

                svg {
                    fill: #FFFFFF;
                    margin: 4px; // (32px - 24px) / 2

                    &.pv_primary_color {
                        fill: $panelBorderColor;
                    }
                    &.pv_primary_color:hover {
                        fill: $PvPrimaryColor;
                    }
                    &.secundary_color {
                        fill: $PvPrimaryColor;
                    }
                    &.attention_high_color {
                        fill: $attentionHigh;
                    }

                }

                // Make room for the `.header__semaphore`
                + .header__title {
                    left: $headerHeight + 5px; // 5px standard margin `.panel__header`
                }

            }
            .header__title {
                cursor: pointer;
                font-size: 1.1em;
                left: 0;
                line-height: 1.2em;
                overflow: hidden;
                position: absolute;
                right: 24px; // two times icon size
                text-overflow: ellipsis;
                top: 0;
                white-space: nowrap;

                span:nth-child(1n+2) {
                    padding-left: 0.3em;
                }
                // span.data {}
                span.date {
                    font-size: 85%;
                }
                span.history {
                    color: $previous-value;
                    font-size: 95%;
                    font-style: italic;
                }
                // span.title {}
            }
            .header__options {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .panel__content {
            bottom: $footerHeight;
            left: 0;
            overflow: auto;
            position: absolute;
            right: 0;
            top: 40px; // See .panel__header height

            &.panel__footer--off {
                bottom: 0;
            }

            .content__state {
                margin: 5px;
            }
        }
        .panel__footer {
            border-top: 1px solid #EEEEEE;
            bottom: 0;
            height: $footerHeight;
            left: 0;
            position: absolute;
            right: 0;

            > div {
                padding: 4px;
            }
        }
    }
}
.panelControl {
    background-color: rgba($color: #000000, $alpha: 0.15);
    display: flex;
    justify-content: flex-start;
    
    &.draggable:hover {
        cursor: grab; // 'grab', 'grabbing', 'move'
    }
    &.dragging {
        cursor: grabbing; // 'grab', 'grabbing', 'move'
    }

    .ctrl__filter {
        flex-basis: 80%;
        padding: 1em;
    }
    .ctrl__search {
        background-color: rgba($color: #000000, $alpha: 0.15);
        flex-basis: 20%;
        padding: 1em;
        text-align: right;
    }
}

// Used, to make the user aware, where (involved) panel is located
.panel--ping {
    .panel__container {
        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: example;
        animation-duration: 4s;
    }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {border-color: $pingColor;}
    to {border-color: $panelBorderColor;}
}
/* Standard syntax */
@keyframes example {
    from {border-color: $pingColor;}
    to {border-color: $panelBorderColor;}
}

.panel--dragover {
    background-color: rgb(196, 146, 243);
}

.panel--inactive {
    display: none;
}

.panel__data--30d {
    .panel__header {
        background-color: $days30;
    }
}
.panel__data--100d {
    .panel__header {
        background-color: $days100;
    }
}

// https://css-tricks.com/snippets/css/complete-guide-grid/
// Four columns and 3 rows = 12 blocks
.panels {
    position: relative;
}

.patient {
    background-color: rgba($color: #000000, $alpha: 0.1);
    padding: 1em;
}

.preset__list {
    .list__container {
        .list__item.hideobj {
                display: none;
        }
    }
}
.preset__container {
    background-color: #FFFFFF;
    // border-bottom: 3px solid rgba($color: #000000, $alpha: 0.25);
    box-sizing: border-box;
    height: auto;
    // margin-bottom: 1em;
    padding-bottom: 0.5em;
    width: 100%;
}
.preset__description {
    font-weight: normal;
    font-style: italic;
}
.preset__label {
    font-weight: bold;
    font-size: 115%;
}
.preset--nodata {
    color: #999999;
}
.preset__panels {
    display: none; // Information introduces a lot of visual noise.
    color: #555555;
}
.preset__tools {
    background-color: rgba($color: #000000, $alpha: 0.25);
    display: flex;
    padding: 1em;

    div {
        flex-grow: 1;
    }

    // Pick second FLEX DIV, the container for the CLOSE ICON BUTTON
    div + div {
        text-align: right;

        svg.icon.primary_color {
            display: inline;
            fill: #FFFFFF;
        }
        svg.icon.primary_color:hover {
            fill: #222222;
        }
    }
}
.preset__wrapper {
    box-sizing: border-box;
    padding: 1em;
    overflow-y: auto;
}
.preset__list {
    .list__container { // UL
        margin: 0;
        padding-left: 0;

        .list__item { // LI
            border-bottom: #CCCCCC 1px solid;
            display: flex;
            justify-content: flex-start;
            list-style-type: none;
            padding: 0.5em 1em;

            .list__column {
                flex-basis: 40px; // Size of the SEMAPHORE (SVG + margin)

                .list__semaphore {
                    display: block;
                    height: $headerHeight;
                    width: $headerHeight;

                    svg {
                        fill: #FFFFFF;
                        margin: 4px; // (32px - 24px) / 2
                    }    
                }
            }
            .list__preset {
                display: flex;
                flex-basis: 100%;

                .list__info {
                    cursor: pointer;
                    flex-grow: 3;
                    width: 60%;
                }                
                .list__states {
                    text-align: right;
                    width: 25%;
                }
                .list__nav {
                    text-align: right;
                    width: 15%;
                }
            }
        }
        .list__item:hover {
            background-color: #FFFFAA;
        }

    }
}

.status {
    display: inline-block;
    padding: 2px 0;

    + .status {
        margin-left: 8px;
    }

    span {        
        color: #FFFFFF;
        font-size: 90%;
        padding: 2px 4px;
        text-transform: lowercase;
    }

    .status__label {
        background-color: #555555;
    }
    .status__state--normal {
        background-color: #97CA00;
    }
    .status__state--unknown {
        background-color: #999999;
    }
    .status__state--abnormal {
        background-color: #c90808;
    }
}

.table--data {
    tbody {
        tr:first-child:hover {
            cursor: pointer;
            background-color: #FFFFAA;
        }
    }
}
